.free {
  padding: 50px 0;

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 2.2rem;
    line-height: 3rem;
    small {
      font-size: 1.4rem;
      color: $grey;
      margin-left: 10px;
    }
  }

  &__lines {
    width: 100%;
    margin-top: 10px;
  }
  &__lines, &__line {
    display: flex;
    align-items: center;
  }
  &__line {
    margin-right: 50px;
  }

  &__input {
    width: 300px;
    margin-left: 10px;
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 20px 0;
  }

  &__floor {
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 20px;
  }
  &__numbers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px;
  }
  &__number {
    margin: 10px;
    font-size: 1.8rem;
  }
}
