.menu {
  background: rgba(230, 230, 230, 0.6);

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__table {
    width: 100%;
    background: $white;
    thead {
      font-size: 3.4rem;
      line-height: 4rem;
      background: rgba(230, 230, 230, 0.6);
      th {
        padding: 29.5px 0;
        font-weight: normal;
        &:first-child {
          text-align: left;
          padding-left: 50px;
        }
        &:last-child {
          padding-right: 50px;
        }
      }
    }

    tbody {
      td {
        font-size: 2.4rem;
        line-height: 2.8rem;
        padding: 21px 0;
        text-align: center;
        &:first-child {
          text-align: left;
          padding-left: 50px;
        }
        &:last-child {
          padding-right: 50px;
        }
      }
    }
  }

  &__subhead {
    background: rgba(255, 140, 0, 0.62);
    color: $white;
    font-size: 3.2rem;
    line-height: 3.7rem;
    font-weight: 500;
    font-style: italic;
    td {
      padding: 16px 50px;
    }
  }
}
