.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background: rgba(255, 140, 0, 0.4);
  z-index: 100;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left, &__right {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 27px;
    font-weight: 500;
    font-size: 3.4rem;
    line-height: 4rem;
  }
}


.burger {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  width: 33px;
  height: 33px;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:before, &:after, span {
    height: 5px;
    background: $black;
  }

  span {
    width: 100%;
  }
}

.clocks {
  display: flex;
  align-items: center;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 13px;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}
