.spinner {
  position: absolute;
  animation: common-frame 2s linear infinite;

  svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) circle {
        stroke: $white;
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
        animation: stroke-frame 3s calc(.2s * (#{$i})) ease infinite;
        transform-origin: center center;
      }
    }
  }
}

@keyframes stroke-frame {
  0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -175.6449737548828 / 3;
  }

  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -175.6449737548828;
  }
}

@keyframes common-frame {
  100% {
    transform: rotate(360deg);
  }
}
