// Utilities
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"));

  $formats: (otf: "opentype", ttf: "truetype");

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: swap;
  }
}

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Grid
@mixin row($gutter: $grid-gutter) {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($gutter / -2);
  margin-left:  ($gutter / -2);
}

@mixin col-ready($gutter: $grid-gutter) {
  position: relative;
  min-height: 1px;
  width: 100%;
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
}

@mixin col($size) {
  flex: 0 0 percentage($size);
  max-width: percentage($size);
}
